@import "@fontsource/inter";
@import "@fontsource/montserrat";
@import "@fontsource/mononoki";
@import "@fontsource/material-icons-round";

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons-rounded {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smootihng: grayscale;
  font-feature-settings: "liga";
}
